<header class="header">
    <div class="logo-container">
      <a href="index.html" style="text-decoration: none; color: inherit;">
        <h1 class="logo-text">Cinematic Strawberry</h1>
      </a>
      <a href="index.html">
        <img src="images/logo.jpg" alt="Logo" class="logo-image">
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="index.html" id="lookInTheEye">Look In The Eye</a></li>
        <li><a href="00110000.html" id="universe">Universe 00110000</a></li>
      </ul>
    </nav>
  </header>