<header class="header">
    <div class="logo-container">
      <a href="/index.html" style="text-decoration: none; color: inherit;">
        <h1 class="logo-text">Cinematic Strawberry</h1>
      </a>
      <a href="/index.html">
        <img src="/images/logo-transparent.png" alt="Logo" class="logo-image" width="26" height="26" decoding="async">
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/index.html" id="home">Home</a></li>
        <li><a href="/00110000.html" id="universe">Universe 00110000</a></li>
      </ul>
    </nav>
  </header>
